<div class="h-full flex">
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div
    [ngClass]="{
      fixed: true,
      'inset-0': true,
      flex: true,
      'z-40': true,
      'lg:hidden': true,
      transition: true,
      'duration-75': true,
      'ease-in-out': true,
      '-translate-x-full': !navBarCanvasState,
      'translate-x-0': navBarCanvasState
    }"
    role="dialog"
    aria-modal="true"
  >
    <!--
      Off-canvas menu overlay, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      [ngClass]="{
        fixed: true,
        'inset-0': true,
        'bg-gray-600': true,
        'bg-opacity-75': true,
        'transition-opacity': true,
        'ease-linear': true,
        'duration-300': true,
        '-translate-x-full': !navBarCanvasState,
        'translate-x-0': navBarCanvasState
      }"
      aria-hidden="true"
    ></div>

    <!--
      Off-canvas menu, show/hide based on off-canvas menu state.

      Entering: "transition ease-in-out duration-300 transform"
        From: "-translate-x-full"
        To: "translate-x-0"
      Leaving: "transition ease-in-out duration-300 transform"
        From: "translate-x-0"
        To: "-translate-x-full"
    -->
    <div
      [ngClass]="{
        relative: true,
        'flex-1': true,
        flex: true,
        'flex-col': true,
        'max-w-xs': true,
        'w-full': true,
        'bg-white': true,
        'focus:outline-none': true,
        transition: true,
        'ease-in-out': true,
        'duration-300': true,
        transform: true,
        '-translate-x-full': !navBarCanvasState,
        'translate-x-0': navBarCanvasState
      }"
    >
      <!--
        Close button, show/hide based on off-canvas menu state.

        Entering: "ease-in-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in-out duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div
        [ngClass]="{
          absolute: true,
          'top-0': true,
          'right-0': true,
          '-mr-12': true,
          'pt-2': true,
          transition: true,
          'ease-in-out': true,
          'duration-300': true,
          'opacity-0': !navBarFlexState,
          'opacity-100': navBarFlexState
        }"
      >
        <button
          (click)="toggleNavBarFlexState(false)"
          type="button"
          class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Close sidebar</span>
          <!-- Heroicon name: outline/x -->
          <svg
            class="h-6 w-6 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
        <div class="flex-shrink-0 flex items-center px-4">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/workflow-logo-pink-500-mark-gray-900-text.svg"
            alt="Workflow"
          />
        </div>
        <nav aria-label="Sidebar" class="mt-5">
          <div class="px-2 space-y-1">
            <!-- Current: "bg-gray-100 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
            <a
              *ngFor="let a of appViews"
              href="javascript:;"
              [ngClass]="{
                'cursor-pointer': true,
                group: true,
                flex: true,
                'items-center': true,
                'px-2': true,
                'py-2': true,
                'text-sm': true,
                'font-medium': true,
                'rounded-md': true,
                'text-gray-600': !isNavSelected(a),
                'hover:bg-gray-50': !isNavSelected(a),
                'hover:text-gray-900': !isNavSelected(a),
                'bg-gray-200': isNavSelected(a),
                'text-gray-900': isNavSelected(a)
              }"
              (click)="navSelect(a)"
            >
              <span
                [ngClass]="{
                  'mr-3': true,
                  'flex-shrink-0': true,
                  'h-6': true,
                  'w-6': true,
                  'text-gray-500': isNavSelected(a),
                  'text-gray-400': !isNavSelected(a),
                  'group-hover:text-gray-500': !isNavSelected(a)
                }"
                [innerHtml]="a.svg"
              ></span>
              {{ a.name }}
            </a>
          </div>
          <hr class="border-t border-gray-200 my-5" aria-hidden="true" />
          <div class="px-2 space-y-1">
            <a
              *ngFor="let a of configViews"
              href="javascript:;"
              [ngClass]="{
                'cursor-pointer': true,
                group: true,
                flex: true,
                'items-center': true,
                'px-2': true,
                'py-2': true,
                'text-sm': true,
                'font-medium': true,
                'rounded-md': true,
                'text-gray-600': !isNavSelected(a),
                'hover:bg-gray-50': !isNavSelected(a),
                'hover:text-gray-900': !isNavSelected(a),
                'bg-gray-200': isNavSelected(a),
                'text-gray-900': isNavSelected(a)
              }"
              (click)="navSelect(a)"
            >
              <span
                [ngClass]="{
                  'mr-3': true,
                  'flex-shrink-0': true,
                  'h-6': true,
                  'w-6': true,
                  'text-gray-500': isNavSelected(a),
                  'text-gray-400': !isNavSelected(a),
                  'group-hover:text-gray-500': !isNavSelected(a)
                }"
                [innerHtml]="a.svg"
              ></span>
              {{ a.name }}
            </a>
          </div>
        </nav>
      </div>
      <div class="flex-shrink-0 flex border-t border-gray-200 p-4">
        <a href="javascript:;" class="cursor-pointer flex-shrink-0 group block">
          <div class="flex items-center">
            <div>
              <img
                class="inline-block h-10 w-10 rounded-full"
                [src]="loggedInUserImg"
                alt=""
              />
            </div>
            <div class="ml-3">
              <p
                class="text-base font-medium text-gray-700 group-hover:text-gray-900"
              >
                {{ loggedInUser }}
              </p>
              <p
                class="text-sm font-medium text-gray-500 group-hover:text-gray-700"
              >
                View profile
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="flex-shrink-0 w-14" aria-hidden="true">
      <!-- Force sidebar to shrink to fit close icon -->
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <div class="hidden lg:flex lg:flex-shrink-0">
    <div class="flex flex-col w-64">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div
        class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-gray-100"
      >
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
          <div class="flex items-center flex-shrink-0 px-4">
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/workflow-logo-pink-500-mark-gray-900-text.svg"
              alt="Workflow"
            />
          </div>
          <nav class="mt-5 flex-1" aria-label="Sidebar">
            <div class="px-2 space-y-1">
              <!-- Current: "bg-gray-200 text-gray-900", Default: "text-gray-600 hover:bg-gray-50 hover:text-gray-900" -->
              <a
                *ngFor="let a of appViews"
                href="javascript:;"
                [ngClass]="{
                  'cursor-pointer': true,
                  group: true,
                  flex: true,
                  'items-center': true,
                  'px-2': true,
                  'py-2': true,
                  'text-sm': true,
                  'font-medium': true,
                  'rounded-md': true,
                  'text-gray-600': !isNavSelected(a),
                  'hover:bg-gray-50': !isNavSelected(a),
                  'hover:text-gray-900': !isNavSelected(a),
                  'bg-gray-200': isNavSelected(a),
                  'text-gray-900': isNavSelected(a)
                }"
                (click)="navSelect(a)"
              >
                <span
                  [ngClass]="{
                    'mr-3': true,
                    'flex-shrink-0': true,
                    'h-6': true,
                    'w-6': true,
                    'text-gray-500': isNavSelected(a),
                    'text-gray-400': !isNavSelected(a),
                    'group-hover:text-gray-500': !isNavSelected(a)
                  }"
                  [innerHtml]="a.svg"
                ></span>
                {{ a.name }}
              </a>
            </div>
            <hr class="border-t border-gray-200 my-5" aria-hidden="true" />
            <div class="flex-1 px-2 space-y-1">
              <a
                *ngFor="let a of configViews"
                href="javascript:;"
                [ngClass]="{
                  'cursor-pointer': true,
                  group: true,
                  flex: true,
                  'items-center': true,
                  'px-2': true,
                  'py-2': true,
                  'text-sm': true,
                  'font-medium': true,
                  'rounded-md': true,
                  'text-gray-600': !isNavSelected(a),
                  'hover:bg-gray-50': !isNavSelected(a),
                  'hover:text-gray-900': !isNavSelected(a),
                  'bg-gray-200': isNavSelected(a),
                  'text-gray-900': isNavSelected(a)
                }"
                (click)="navSelect(a)"
              >
                <span
                  [ngClass]="{
                    'mr-3': true,
                    'flex-shrink-0': true,
                    'h-6': true,
                    'w-6': true,
                    'text-gray-500': isNavSelected(a),
                    'text-gray-400': !isNavSelected(a),
                    'group-hover:text-gray-500': !isNavSelected(a)
                  }"
                  [innerHtml]="a.svg"
                ></span>
                {{ a.name }}
              </a>
            </div>
          </nav>
        </div>
        <div class="flex-shrink-0 flex border-t border-gray-200 p-4">
          <a
            href="javascript:;"
            class="cursor-pointer flex-shrink-0 w-full group block"
          >
            <div class="flex items-center">
              <div>
                <img
                  class="inline-block h-9 w-9 rounded-full"
                  [src]="loggedInUserImg"
                  alt=""
                />
              </div>
              <div class="ml-3">
                <p
                  class="text-sm font-medium text-gray-700 group-hover:text-gray-900"
                >
                  {{ loggedInUser }}
                </p>
                <p
                  class="text-xs font-medium text-gray-500 group-hover:text-gray-700"
                >
                  View profile
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col min-w-0 flex-1 overflow-hidden">
    <div class="lg:hidden">
      <div
        class="flex items-center justify-between bg-gray-50 border-b border-gray-200 px-4 py-1.5"
      >
        <app-logo></app-logo>
        <div>
          <button
            (click)="toggleNavBarFlexState(true)"
            type="button"
            class="-mr-3 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-pink-600"
          >
            <span class="sr-only">Open sidebar</span>
            <!-- Heroicon name: outline/menu -->
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="flex-1 relative z-0 flex overflow-hidden">
      <main
        class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last"
      >
        <!-- Breadcrumb -->
        <nav
          class="flex items-start px-4 py-3 sm:px-6 lg:px-8 xl:hidden"
          aria-label="Breadcrumb"
        >
          <a
            href="javascript:;"
            class="cursor-pointer inline-flex items-center space-x-3 text-sm font-medium text-gray-900"
            (click)="toggleRecordColumn()"
          >
            <!-- Heroicon name: solid/chevron-left -->
            <svg
              class="-ml-2 h-5 w-5 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
            <span>Directory</span>
          </a>
        </nav>

        <article *ngIf="main$ | async as main">
          <!-- Profile header -->
          <app-article-header
            [name]="main.name"
            [picture]="main.picture"
            [buttons]="{ buttons: main.buttons }"
          ></app-article-header>

          <!-- Tabs -->
          <app-tabs [tabs]="main.tabs"></app-tabs>

          <app-trader-chart-component
            *ngIf="cardListener.getValue() == 'Dashboard'"
          ></app-trader-chart-component>

          <!-- Metrics List -->
          <app-simple-metrics [metrics]="main.metrics"></app-simple-metrics>

          <!-- Description list -->
          <app-description-block
            [description]="main.description"
          ></app-description-block>

          <!-- Card list -->
          <app-actionable-cards [cards]="main.cards"></app-actionable-cards>
        </article>
      </main>
      <aside
        [ngClass]="{
          hidden: !recordColumnStatus,
          'overflow-y-auto': recordColumnStatus,
          'xl:order-first': true,
          'xl:flex': true,
          'xl:flex-col': true,
          'flex-shrink-0': true,
          'w-96': true,
          'border-r': true,
          'border-gray-200': true
        }"
      >
        <app-search-box
          [navSelected]="navSelected"
          [recordColumnDescription]="recordColumnDescription"
        ></app-search-box>
        <!-- Directory list -->
        <nav
          *ngIf="recordCards$ | async as recordCard"
          class="flex-1 min-h-0 overflow-y-auto"
          aria-label="Directory"
        >
          <div *ngFor="let entry of recordCard" class="relative">
            <div
              class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500"
            >
              <h3>{{ entry.tier }}</h3>
            </div>
            <ul role="list" class="relative z-0 divide-y divide-gray-200">
              <li *ngFor="let card of entry.data">
                <div
                  class="relative px-6 py-5 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-pink-500"
                >
                  <div class="flex-shrink-0">
                    <img
                      class="h-10 w-10 rounded-full"
                      [src]="card.picture"
                      alt=""
                    />
                  </div>
                  <div class="flex-1 min-w-0">
                    <a
                      (click)="('')"
                      href="javascript:;"
                      class="cursor-pointer focus:outline-none"
                    >
                      <!-- Extend touch target to entire panel -->
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      <p class="text-sm font-medium text-gray-900">
                        {{ card.name }}
                      </p>
                      <p class="text-sm text-gray-500 truncate">
                        {{ card.description }}
                      </p>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </aside>
    </div>
  </div>
</div>
